node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.DS_STORE
DS_STORE
.vscode
.tgz
.zip

dist
build
lib
types
es
esnext
/data/
**/config/coverage/*
*.env
!example.env
*.db
**/coverage/*
cache
*.cache
*.key
*.crt
*.crt
.cache/**/*
.dccache
